<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">

    <title>About Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./css/font-awesome.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./css/owl-carousel.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./css/tooplate-artxibition.css')}}">
    <!--

Tooplate 2125 ArtXibition

https://www.tooplate.com/view/2125-artxibition

-->
</head>

<body>

    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Hey! The Show Is Starting In 5 Days.</span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                        <a href="#contactus">Contact Us Now! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    {% include 'navbar.html' %}

    <div>
        <br><br><br>
        <span>
            <p>
            <h2 style="text-align: center;">Successful Payment!!</h2>
            </p>
        </span>
    </div>
    <br><br>

    <!-- *** Subscribe *** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Subscribe Our Newsletter:</h4>
                </div>
                <div class="col-lg-8">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-9">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                        placeholder="Your Email Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>Saint Matthews Road</h4>
                        <span>Near to Cybercity <br>Sahidnagar, Bhubaneswar<br>Odisha, India</span>
                    </div>
                </div>
                <div class="col-lg-4" id="contactus">
                    <div class="links">
                        <h4>Contacts</h4>
                        <ul>
                            <li><a href="#">Ph- 0674-2583641</a></li>
                            <li><a href="#">mob- 9999888525</a></li>
                            <li><a href="#">email- event_wizard99@gmail.com</a></li>
                            <li><a href="#">Wiki- Event@Wizard.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hours">
                        <h4>Open Hours</h4>
                        <ul>
                            <li>Mon to Fri: 10:00 AM to 8:00 PM</li>
                            <li>Sat - Sun: 11:00 AM to 4:00 PM</li>
                            <li>Holidays: Closed</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>